<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout :: head(title = 'Årstiderne – Varekatalog')"></head>
    <body>
        <h1>Vores vare</h1>
        <section>
            <ul>
                <li th:each="product : ${products}">
                    <p th:text="${product.getName()}"></p>
                    <small th:text="${product.getPrice()}"></small>
                </li>
            </ul>
        </section>
    </body>
</html>