<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Aarstiderne – Varekatalog')"></head>
    <body>
        <main>
            <h1>Vores vare</h1>
            <ul class="products">
                <li th:each="product : ${products}">
                    <div>
                        <strong th:text="${product.name}"></strong>
                        <p th:text="${product.description}"></p>
                    </div>
                    <span class="pricing" th:text="${product.price + ' kr.'}"></span>
                    <a th:href="@{/products/{id}/edit(id=${product.id})}">Rediger</a>
                    <a th:href="@{/products/{id}/remove(id=${product.id})}">Fjern</a>
                </li>
            </ul>
        </main>
    </body>
</html>